@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fieldLine">
    <span class="fieldLabel">District: </span>
    <input data-bind="kendoComboBox: { dataTextField: 'Value', dataValueField: 'Key', dataSource: districtOptions.dataSource }" type="text"/>
</div>

<div class="fieldLine">
    <span class="fieldLabel">Retailer: </span>
    <input data-bind="kendoComboBox: { dataTextField: 'Value', dataValueField: 'Key', data: retailerData }" type="text"/>
</div>

<div class="fieldLine">
    <span class="fieldLabel">Add Retailer: </span>
    <input data-bind="value: retailer, valueUpdate: 'afterkeydown'" type="text"/>
    <input class="k-button" data-bind="click: onAddRetailerClick" type="button" value="Add"/>
</div>

<div class="fieldLine">
    <span class="fieldLabel">Start Date: </span>
    <input data-bind="kendoDatePicker: { change: startDateOptions.change, max: startDateMax, value: startDate }" type="text"/>
</div>

<div class="fieldLine">
    <span class="fieldLabel">End Date: </span>
    <input data-bind="kendoDatePicker: { change: endDateOptions.change, min: endDateMin, value: endDate }" type="text"/>
</div>

<div class="fieldLine">
    <span class="fieldLabel">Count: </span>
    <input data-bind="kendoNumericTextBox: { value: count }" type="text"/>
</div>

<div class="fieldLine">
    <span class="fieldLabel">Sales: </span>
    <input data-bind="kendoNumericTextBox: { decimals: 2, format: 'c', step: .01, value: sales }" type="text"/>
</div>

<script>
    (function() {
        var viewModel = kendoViewModel();

        ko.applyBindings(viewModel);
    })();
</script>

