@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fieldLine">
    <span class="fieldLabel">District: </span>
    <input data-bind="kendoComboBox: { dataTextField: 'Value', dataValueField: 'Key', dataSource: districtOptions.dataSource }" type="text"/>
</div>

<div class="fieldLine">
    <span class="fieldLabel">Retailer: </span>
    <input data-bind="kendoComboBox: { dataTextField: 'Value', dataValueField: 'Key', data: retailerData }" type="text"/>
</div>

<script>
    (function() {
        var viewModel = kendoViewModel();

        ko.applyBindings(viewModel);
    })();
</script>

